.border{
    border: 2px solid red;
    margin: 3px;
}


.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}

.m1{
    margin: 5px;
}
.p1{
    padding: 10px;
}
/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1e1e1e; /* Dark track */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #555; /* Dark gray scrollbar */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777; /* Slightly lighter on hover */
}